doctype 5
html
  head 
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="css/bootstrap.min.css")
    link(rel="stylesheet", href="css/bootstrap-responsive.min.css")
    link(rel="stylesheet", href="css/style.css")
  body(class="container")
    h1 Pubcrawl
    if (successMsgHead && successMsgBody)
      .alert.alert-success.alert-block
        h3= successMsgHead
        p= successMsgBody
    if (errorMsgHead && errorMsgBody)
      .alert.alert-error.alert-block
        h3= errorMsgHead
        p= errorMsgBody
    block content
