extends layout

block content
  h2 Lists
  if (lists.length)
    ul
      for list in lists
        li
          a(href="/archive/#{list.name}")
            | #{list.displayName ? list.displayName : list.name}
            | #{list.description ? " - " + list.description : ""}
          if (list.subscribers.length)
              ul
                for subscriber in list.subscribers
                  li= subscriber.email
          form(name="subscribe-#{list.id}", action="/subscribe", method="post",
               class="form-inline")
            input(type="hidden", name="listId", value="#{list.id}")
            input(type="email", name="email", required, placeholder="Email",
                  class="input-medium")
            button(class="btn btn-primary") Subscribe
            button(class="btn", formaction="/unsubscribe") Unsubscribe
  else
    p No lists defined

  a(href="/create-list", class="btn btn-primary") Create new list
